body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sd-header{
  height: 90px;
  background-color: aliceblue;
}

.sd-header .row{
  height: 100%;
}

.sd-form{
  width: 30%;
}

.sd-container{
  min-height: calc( 100vh - 90px);
  background-color: cadetblue;
}

.game-area{
  width: 600px;
  height: 600px;
  align-content: flex-start;
  border-radius: 10px;
  background-color:rgb(43, 43, 95);
}

.sd-box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  font-weight: bold;
  background-color: aliceblue;
  border: 2px solid cadetblue;
  border-radius: 15px;
}

.sd-box.check{
  background-color: aquamarine;
}

.sd-box.check p{
  display: block;
}

