*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* 
.debug{
  background-color: rgba(165, 42, 42, 0.39);
  border: 1px solid black;
} */
.sd-header{
  height: 90px;
  background-color: aliceblue;
}

.sd-header .row{
  height: 100%;
}


.sd-container{
  height: calc( 100vh - 90px );
  background-color: cadetblue;
}

.sd-form{
  width: 30%;
}

#sd-game-area{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-radius: 10px;
  background-color:rgb(43, 43, 95);
}

.sd-box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: aliceblue;
  border: 2px solid cadetblue;
  border-radius: 15px;
}

.sd-box.check{
  background-color: aquamarine;
}

.sd-box.easy{
  width: calc( 600px / 7);
  height: calc( 600px / 7);
  
}

.sd-box.hard{
  width: calc( 600px / 9);
  height: calc( 600px / 9);
}

.sd-box.crazy{
  width: calc( 600px / 10);
  height: calc( 600px / 10);
}

.sd-box p{
  display: none;
}

.sd-box.check p{
  display: block;
}

